body {
    font-family: 'Ubuntu', sans-serif;
}

.margin-nav-links {
    margin: 8px;
}

.margin-nav-links-dd {
    margin: 5px;
}

.container1 {
    display: flex;
    position: relative;
    margin-top: 50px;
    width: 100%;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    position: relative;
    width: 75%;
    border: 1px solid transparent;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Style of Cards */

.cardMovie {
    margin: 20px
}

.cardMovie div {
    opacity: 0;
}

.cardMovie:hover div {
    opacity: 1;
}

.moreInfo {
    position: absolute;
    top: 120px;
    left: 55px;
    opacity: 0;
}

.cardMovie:hover .moreInfo {
    opacity: 1;
}

.moreInfo {
    color: rgb(71, 71, 71);
}

.moreInfo:hover {
    color: rgb(31, 31, 31);
}

/* .cardMovie img:hover {
    width: 200px;
    height: 300px;
}
 */
 .cardMovie:hover img {
    opacity: 0.5;
}

.cardMovie img {
    padding: 0;
    width: 220px;
    height: 300px;
}

/* Links Cards */

.linkList {
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.linkList:hover {
    text-decoration: none;
    color: rgb(61, 61, 61);
}

.delete {
    text-decoration: none;
    color: rgb(255, 2, 2);
}

.delete :hover {
    text-decoration: none;
    color: rgb(146, 0, 0);
}